<div class="movie container-fluid">
  <div class="movie-left col-md-2">
    <%= link_to image_tag(movie.poster_image_url), movie_path(movie), class: "poster-small" %>
  </div>
  <div class="movie-right col-md-6">
    <h2><%= link_to movie.title, movie_path(movie) %></h2>
    <% if movie.review_average > 0 %>
      <h3>Avg. Rating <%= movie.review_average %>/10</h3>
    <% end %>
    <% if movie.release_date %>
      <p class="lead">
        Released: <%= formatted_date(movie.release_date) %> | Runtime: <%= movie.runtime_in_minutes %> minutes
        <br/>
        <% if movie.director %>
          Directed by <%= movie.director %>
        <% end %>
      </p>
    <% end %>
    <p><%= movie.description %></p>
  </div>
</div>
<hr>