<%= form_tag movies_path, method: :get, class: 'form-inline' do %>
  <%= label_tag 'Filters' %>
  <div class="form-group">
    <%= text_field_tag 'search[query]', '', placeholder: 'Title/Director', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= select_tag 'search[duration]',
      options_for_select([['Any duration','any'], ['Under 90 minuts', '90'], ['Between 90 and 120 minutes', '90_120'], ['Greater than 120 minutes', '120']]), { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= label_tag 'Order By:' %>
    <%= select_tag 'order_by',
      options_for_select([['Title', 'title'],['Created Date', 'created_at']]), { class: 'form-control' }  %>
  </div>
  <%= submit_tag "Update", name: nil, class: 'btn btn-default' %>
<% end %>

<hr>

<%= render @movies %>
