<h2>All Users:</h2>
<%= link_to 'Create a new user', new_admin_user_path %><br/>
<table>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Action</th>
    </tr>
    <%= paginate @users %>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td>
          <% if user.admin %>
            Yes
          <% else %>
            No
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
      </tr>
    <% end %>
  </table>